<!--<div class="container valign-wrapper">-->
<!--  <div class="row">-->
<!--    <div class="col s2">-->
<!--      <h1 class="">Nothing to see here</h1>-->
<!--      <h1 class="">Nothing to see here</h1>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container valign-wrapper full">
  <div class="row"> 
    <div class="col s8">
      <div id="first_card" class="card large top_position">
        <div class="card-image"> 
          <%= image_tag "hi.png" %> 
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Welcome to FBA Shipping by ByteStand.
            A super simple way to automate fulfilling FBA items
            in the US and abroad.</p>
        </div>
        <div class="card-action">
          <button id="first_button" class="waves-effect btn stroke-btn tap">Let's Get Started!</button>
        </div>
      </div><!-- end of first card -->
      <h1 class=" card inner">Nothing to see here</h1>
    </div>
  </div>
</div>